gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never ignore the wrapper itself, nor the properties file
!gradle/wrapper/gradle-wrapper.properties
